.App-header {
  text-align: center;
  padding: 3vh 0;
  background-color: #eee;
}
.App-content {
  box-sizing: border-box;
  margin: auto;
  padding: 40px 10px;
  max-width: 800px;
  width: 90%;
  height: 90vh;
  box-shadow: 1em 15px 2em rgba(0, 0, 0, 0.1);
}
.App-content h1 {
  padding: 20px;
  box-shadow: 10px 15px 2em rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
}

.App-content p {
  padding: 20px;

  background-color: #fff;
  border-radius: 5;
}
